__pycache__/
.env
*.pyc
scripts_ignored/
admin.md
output/
temp/*
temp/
logs/

# Build & dist
/build/
/dist/
/*.spec

# PyInstaller
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/

# IDEs
.vscode/
.idea/

# Autres
.coverage
.coveragerc
coverage.xml

TODO.md
hook-faker.py

docker-compose.yml
Dockerfile

