package {{ package_name }}.api.adapters.datasources.{{ table }}.model;

{% for import in get_required_imports(fields) %}
import {{ import }};
{% endfor %}

/**
 * {{ Table }} entity mapping the database table.
 */
@Entity
@Table(name = "{{ table }}")
@Data
@NoArgsConstructor
@AllArgsConstructor
@Builder
public class {{ Table }}Entity implements Serializable {

    private static final long serialVersionUID = 1L;

{% for field in fields %}
    {% if field.is_id %}
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    {% endif %}
    {% if field.nullable %}
    @Nullable
    {% endif %}
    @Column(name = "{{ field.name | replace('Id', '_id') | replaceCamelCaseWithUnderscore() }}", nullable = {{ field.nullable | default(false) | lower }})
    // comment: {{ field.comment | default('') }}
    // testValue: {{ field.test_value | default('') }}
    private {{ field.type }} {{ field.name }};

{% endfor %}
}
